@charset 'utf-8';

/***  layout  ***/
html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
}
body{
    overflow-x: hidden;
    color:rgb(29,29,31);
    letter-spacing: -0.05em;
    background: #fff;
}
p{
    line-height:1.6;
}
a{
    color:rgb(29,29,31);
    text-decoration: none;
}
.scroll_wrap{
    position: fixed;
    width:50px;
    height:50px; border:1px solid red;
    top:0; right:0;
    text-align: center;
    line-height: 50px;
}

/** navgation **/
.global-nav{
    height: 44px;
    padding:0 1rem;
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
.local-nav{
    height:52px;
    border-bottom:1px solid #ddd;
    padding:0 1rem;
    position: absolute;
    top:45px;
    left:0;
    width:100%;
}
.global-nav-links,
.local-nav-links{
    max-width:1000px;
    margin:0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.global-nav-links{
    justify-content: space-between;
}
.local-nav-links .product-name{
    margin-right: auto;
    font-size:1.4em;
    font-weight: 900;
}
.local-nav-links a{
    font-size:0.8em;
}
.local-nav-links a:not(.product-name){
    margin-left:2em;
}


/** scroll-section-0 **/
#scroll-section-0 h1{
    font-size:4rem;
    text-align: center;
}
.main-message{
    display: flex;
    align-items: center;
    justify-content: center;
    height:3em;
    font-size:2.5rem;
    margin:5px 0;
}
.main-message p{
    line-height:1.2;
    font-weight:bold;
    text-align: center;
}

/** scroll-section-1 **/
.description{
    font-size:1.2rem;
    color:#888;
    padding:0 1rem;
    max-width:1000px;
    margin:0 auto;
}
.description strong{
    font-size:3rem;
    color:#111;
    float: left;
    margin-right:0.2em;

}

/** scroll-section-2 **/
#scroll-section-2 .main-message{
    font-size:3.5rem;
}
.main-message small{
    display: block;
    font-size:1.2rem;
    margin-bottom:0.5rem;
}
.desc-message{
    font-weight: bold;
    width:50%;
}
.pin{
    width:1px;
    height: 100px;
    background: #000;
}

/** scroll-section-3 **/
.mid-message{
    font-size:2rem;
    color:#888;
    padding:0 1rem;
    max-width:1000px;
    margin:0 auto;
}
.mid-message strong{
    color:#000;
}
.canvas-caption{
    color:#888;
    padding:0 1rem;
    font-size:1.2rem;
    max-width:1000px;
    margin:0 auto;
}

/** footer **/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkorange;
    height:7rem;
    color:#fff;
}

/** section **/
.scroll-section{
    padding-top:50vh;
    border:4px solid blue;
}

.sticky-elem{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
}

/** body **/
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem{
    display: block;
}

/************************/

@media (min-width : 1024px){
    #scroll-section-0 h1{
        font-size:9vw;
    }
    .main-message{
        font-size:4vw;
    }
    .description{
        font-size:2rem;
    }
    .description strong{
        font-size:6rem;
    }

    #scroll-section-2 .main-message{
        font-size:6vw;
    }
    .main-message small{
        font-size:1.5vw;
    }
    .desc-message{
        width:20%;
    }
    .mid-message{
       font-size:4rem;
    }
    .canvas-caption{
        font-size:2rem;
    }
}